<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Sample-UIKit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Sample.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A083A4DA28AD13EA0047FA07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A083A4EF28AD13EC0047FA07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A083A4F928AD13EC0047FA07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A091EFFD28AA5FB6002F501A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
